<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Announcement</title>
    <link rel="stylesheet" href="/styles.css">
    <div class="header">
        <div class="mainmenu">
            <!-- Image Credit: https://pngtree.com/free-flower-clipart -->
            <label class="mainhead"><img id="logo" src="/flower.png" alt="red flower logo">LovelyLawns</label>
            Admin
        </div>
    </div>
</head>
<body>
<div id="body">

</div>
</body>
</html>